{% extends "base.html" %}

{% block content %}

<div id="inherit-base">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-head">
					<div class="content-title">about us</div>
					<div class="content-icon flip"><i class="fab fa-envira content"></i></div>
				</div>
			</div>
		</div>
	</div>

	<div class="about_img"><img src="static/images/about_img.png"></div>

	<div class="content-body">
		<div class="content-data" style="overflow-y:visible;">
			<div class="about-data" style="overflow-y:visible;">
				<div class="abt-header">"we love the natural woman in you"</div>
				
				This is a very long quote from the article written about your salon along with some information describing the people that work for you and the quality of your services. Detroit is a major port on the Detroit River, one of the four major straits that connect the Great Lakes system to the Saint Lawrence Seaway. The Detroit Metropolitan Airport is among the most important hubs in the United States. The City of Detroit anchors the third-largest economic region in the Midwest, behind Chicago and Minneapolis-St. Paul, and the 14th-largest in the United States.[7] Detroit and its neighboring Canadian city Windsor are connected through a tunnel and the Ambassador Bridge, the busiest international crossing in North America.[8] Detroit is best known as the center of the U.S. automobile industry, and the "Big Three" auto manufacturers General Motors, Ford, and Chrysler are all headquartered in Metro Detroit.

				<p>- detroit free press</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}