{% extends "base.html" %}


{% block content %}  

    <div class="">
        <div>
            <div class="seperate-seven hidden" id="i1"><img src="static/images/i1.png"></div>

            <div class="seperate-seven hidden" id="i2"><img src="static/images/i2.png"></div>

            <div class="seperate-seven hidden" id="i3"><img src="static/images/i3.png"></div>

            <div class="seperate-seven hidden" id="i4"><img src="static/images/i4.png"></div>

            <div class="seperate-seven hidden" id="i5"><img src="static/images/i5.png"></div>

            <div class="seperate-seven hidden" id="i6"><img src="static/images/i6.png"></div>

            <div class="seperate-seven hidden" id="i7"><img src="static/images/i7.png"></div>
        </div>

        <div class='index-motto' id="motto">
            <span>
                <i class="fab fa-envira" style="margin-left:25px;"></i>
            </span>
            natural woman salon
            <div class="sub-motto">Specializing in natural hair care</div>
        </div>

        <!--  <div class="animate-logo hidden" id="animatedBrand"><img src="static/images/logo_fade.png"></div> -->
    </div>
{% endblock %}
 

























