{% extends "base.html" %}

{% block content %}

<div id="inherit-base">
	<!-- <div class="content-head">	
		<div class="content-title">contact us...</div>
		<div class="content-icon"><i class="fab fa-envira content"></i></div>
	</div> -->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-head">
					<div class="content-title">our services</div>
					<div class="content-icon flip"><i class="fab fa-envira content"></i></div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body">
		<div class="content-data">
		</div>
	</div>
</div>

{% endblock %}