{% extends "base.html" %}

{% block content %}

<div id="inherit-base" class="hidden">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content-head">
					<div class="content-title">on our menu</div>
					<div class="content-icon flip"><i class="fab fa-envira content"></i></div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-body">
		<div class="content-data">
			<div class="services-data">
				<div class="alert-wrapper hidden" id="alert">
					<div class="price_description_wrap">
						<div class="close-this" id="close-this"><i class="far fa-window-close"></i></div>
						<h1>item name</h1>
						This is the area where the product description will be placed. The height of this HTML element grows with the content having a maximum width of 400px and a minimum width of 300px. The content will be provided by the MySQL database.
					</div>
				</div>

				<div class="go-big">
					<div class="six-split-top">
						<div class="p-item">
							<div class="p-wrap sb0" id="item1" onClick="javascript: load_service_description('1');">
								<div class="p-head">
									Deep conditioner treatment
								</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph1"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price">&nbsp<span>$</span>5</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item">
							<div class="p-wrap sb0" id="item2" onClick="javascript: load_service_description('2');">
								<div class="p-head">protein treatment<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph2"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>10</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item">
							<div class="p-wrap sb0" id="item3" onClick="javascript: load_service_description('3');">
								<div class="p-head">hot oil treatment<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph3"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>10</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item">
							<div class="p-wrap sb0" id="item4" onClick="javascript: load_service_description('4');">
								<div class="p-head">steam treatment<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph4"></div>
										<div class="col-sm-8 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-4 p-price"><span>$</span>20</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item">
							<div class="p-wrap sb1" style="border-left:2px solid #aaaaaa; border-top:1px solid #888888" id="item5" onClick="javascript: load_service_description('5');">
								<div class="p-head">comb out<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph5"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>10</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item">
							<div class="p-wrap sb2" id="item6" onClick="javascript: load_service_description('6');">
								<div class="p-head">shampoo &<br>blow dry</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph6"></div>
										<div class="col-sm-8 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-4 p-price"><span>$</span>20</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="six-split-bottom flip">
						<div class="p-item-b flip">
							<div class="p-wrap sb0" id="item7" onClick="javascript: load_service_description('7');">
								<div class="p-head">
									b.y.o.r<br><h5>(bring your own rinse)</h5>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph7"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price">&nbsp<span>$</span>10</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item-b flip">
							<div class="p-wrap sb0" id="item8" onClick="javascript: load_service_description('8');">
								<div class="p-head"><i class="fas fa-asterisk"></i>naturalistic<br>styles</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph8"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>50</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item-b flip">
							<div class="p-wrap sb0" id="item9" onClick="javascript: load_service_description('9');">
								<div class="p-head">basic blow & go<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph9"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>40</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item-b flip">
							<div class="p-wrap sb0" id="item10" onClick="javascript: load_service_description('10');">
								<div class="p-head">basic blow & go<br>with weave</div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph10"></div>
										<div class="col-sm-8 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-4 p-price"><span>$</span>55</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item-b flip">
							<div class="p-wrap sb1" style="border-left:2px solid #aaaaaa; border-top:1px solid #888888" id="item11" onClick="javascript: load_service_description('11');">
								<div class="p-head"><i class="fas fa-asterisk"></i>braiding<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph11"></div>
										<div class="col-sm-9 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-3 p-price"><span>$</span>35</div>
									</div>
								</div>
							</div>
						</div>

						<div class="p-item-b flip">
							<div class="p-wrap sb2" id="item12" onClick="javascript: load_service_description('12');">
								<div class="p-head">trim<br><p>empty</p></div>
								<div class="container">
									<div class="row">
										<div class="col-sm-12 hidden" id="ph12"></div>
										<div class="col-sm-8 p-line" style="padding:0;">
											<div class="p-top"></div>
										</div>
										<div class="col-sm-4 p-price"><span>$</span>10</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="go-big">
					<div class="rec-holder">
						<div class="rec o1"></div>
					</div>
				</div>-->

				<!--<div class="container">
					<div class="row">
						<div class="col-sm-12 service-warning">
							<span><i class="fas fa-asterisk"></i>&nbsp</span>
							Indicates the starting price. Additional charges may apply.
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb1">
								<h1>Basic Blow & Go</h1>
								<div class="price"><span>$</span>40</div>
								<button id="p1" onClick="javascript: load_service_description('1');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb0">
								<h1>basic blow & go w/ weave</h1>
								<div class="price"><span>$</span>55<i class="fas fa-asterisk"></i></div>
								<button id="p2" onClick="javascript: load_service_description('2');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb">
								<h1>deep conditioner treatment</h1>
								<div class="price"><span>$</span>5</div>
								<button id="p3" onClick="javascript: load_service_description('3');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb2">
								<h1>protein treatment</h1>
								<div class="price"><span>$</span>10</div>
								<button id="p4" onClick="javascript: load_service_description('4');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb2">
								<h1>hot oil treatment</h1>
								<div class="price"><span>$</span>10</div>
								<button id="p5" onClick="javascript: load_service_description('5');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb">
								<h1>steam treatment</h1>
								<div class="price"><span>$</span>20</div>
								<button id="p6" onClick="javascript: load_service_description('6');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb0">
								<h1>braiding</h1>
								<div class="price"><span>$</span>35</div>
								<button id="p7" onClick="javascript: load_service_description('7');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb1">
								<h1>shampoo & blow dry</h1>
								<div class="price"><span>$</span>20</div>
								<button id="p8" onClick="javascript: load_service_description('8');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb">
								<h1>naturalistic styles</h1>
								<div class="price"><span>$</span>50<i class="fas fa-asterisk"></i></div>
								<button id="p9" onClick="javascript: load_service_description('9');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb0">
								<h1>b.y.o.r <span>(bring your own rinse)</span></h1>
								<div class="price"><span>$</span>10</div>
								<button id="p10" onClick="javascript: load_service_description('10');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb2">
								<h1>comb out</h1>
								<div class="price"><span>$</span>10</div>
								<button id="p11" onClick="javascript: load_service_description('11');">details</button>
							</div>
						</div>

						<div class="col-sm-3 service-wrapper">
							<div class="service-box sb">
								<h1>trim</h1>
								<div class="price"><span>$</span>10</div>
								<button id="p12" onClick="javascript: load_service_description('12');">details</button>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>

{% endblock %}