body {
	width: 100%;
	height: 100vh;
}

.hidden {
	visibility: hidden;
}

.base-style {
	background-color: #555838;
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	color: #999999;
}

.navbar {
	font-family: 'Fira Sans Condensed', sans-serif;
	opacity: 0.7;
	border-bottom: 1px solid #333333;
	background: linear-gradient(#ced1a2, #555838);
}

.navbar-header a {
	color: #ffffff;
	font-family: 'Lovers Quarrel', cursive;
}

.navbar-header span {
	font-size: 40px;
}

.navbar-brand {
	height:45px;
	font-size: 20px !important;
	text-shadow: 1px 1px black;
}

.navbar-brand p {
	color: #fbfaca;
	display:inline;
	font-size: 40px;
	padding-top: 50px;
}

.adjust-brand {
	color: #fbfaca;
	font-size: 40px;
	position: relative;
	float: left;
}

.icon-adjust {
	color: #eafa52;
	position: relative;
	float: left;
	padding-top:21px;
}

.collapse {
	color: #ffffff;
}

.collapse li {
	margin-left: 20px;
	margin-top: 32px;
	letter-spacing: 2px;
}

.collapse a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	-webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

.collapse a:hover {
	text-decoration: none;
	color: #e6fe04;
	-webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
    text-shadow: 1px 1px black;
}

.active-item a {
	color: #d0ff16;
    text-shadow: 1px 1px black;
}

.active-item a:hover {
	text-decoration: none;
	color: #d0ff16;
    text-shadow: 1px 1px black;
}

.content-wrapper {
	width: 100%;
	height: 75%;
	background-color: transparent;
}

.seperate-seven {
	position: relative;
	float:left;
	width: 14.28%;
	height: 90%;
	opacity: 0.7;
}

.seperate-seven img {
	width: 100%;
	height: 100%;
}

.index-motto {
	width:100%;
	font-size: 80px;
	text-align: right;
	font-family: 'Lovers Quarrel', cursive;
	position: absolute;
	z-index: 2;
	margin-top: 40%;
	color: #cccba3;
	padding-right: 50px;
	text-shadow: 1px 1px black;
}

.index-motto span {
	font-size: 40px;
	color:#bfcc43;
	position: absolute;
	z-index: -1;
	margin-left: -60px;
	margin-top:40px;
}

.sub-motto {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 15px;
	margin-top: -40px;
	color: #ffffff;
	font-style: italic;
	letter-spacing: 2px;
}

.footer {
	width: 100%;
	height: 16vh;
	background-color: transparent;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.social-div  {
	width: 20px;
	height: 20px;
	/*background: linear-gradient(#868965, #393e05);*/
	background: linear-gradient(#fdfccc, #848368);
	border-radius: 5px;
	margin:auto;
	text-align: center;
	box-shadow: 1px 1px 1px #000000;
	margin-top:75%;
	/*border: 1px solid #333333;*/
	-webkit-transition: background 0.5s; /* Safari */
    transition: color 0.5s;
}

.social-div:hover {	
	background: linear-gradient(#bfcc43, #575d1c);
	-webkit-transition: background 0.5s; /* Safari */
    transition: color 0.5s;
}

.social-a {
	/*color: #cccba3;*/
	color: #646216;
	font-size: 11px;
	line-height: 20px;
}

.social-a:hover {
	/*color: #cccba3;*/
	color: #4a4a49;	
}

.copyright {
	font-family: arial;
	font-size: 10px;
	text-align: center;
	color: #cccba3;
	margin-top:30px;
	letter-spacing: 1px;
	position: absolute;
	margin-top: 7%;
}

.media-wrapper {
	position: absolute;
	z-index: 1;
	float: right;
	top: 0;
	right: 0;
	width:90px;
	height:20px;
	margin-right:20px;
	margin-top:13px;
}

.overlay {
	width: 100%;
	height: 70vh;
	background-image: url('../images/overlay.png');
	background-size: 100% 100%;
	opacity: 0.7;
	color:#ffffff;
}

.content-head {
	position: relative;
	float:right;
	right: 0;
	top: 0;
	z-index: 1;
	margin-right:20px;
	text-shadow: 1px 1px black;
	opacity: 0.9;
}

.content-icon {	
	color: #bfcc43;
	position: relative;
	float: right;
	font-size: 33px;
	margin-top:23px;
}

.content-title {
	position: relative;
	float:right;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 60px;
	text-align: left;
	color:#cccba3;
}

















