body {
	width: 100%;
	height: 100vh;
}

.hidden {
	visibility: hidden;
}

.base-style {
	background-color: #555838;
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	color: #999999;
}

.navbar {
	font-family: 'Fira Sans Condensed', sans-serif;
	opacity: 0.7;
	border-bottom: 1px solid #333333;
	background: linear-gradient(#ced1a2, #555838);
}

.navbar-header a {
	color: #ffffff;
	font-family: 'Lovers Quarrel', cursive;
}

.navbar-header span {
	font-size: 40px;
}

.navbar-brand {
	height:45px;
	font-size: 20px !important;
	text-shadow: 1px 1px black;
}

.navbar-brand p {
	color: #fbfaca;
	display:inline;
	font-size: 40px;
	padding-top: 50px;
}

.adjust-brand {
	color: #fbfaca;
	font-size: 40px;
	position: relative;
	float: left;
}

.icon-adjust {
	color: #eafa52;
	position: relative;
	float: left;
	padding-top:21px;
}

.collapse {
	color: #ffffff;
}

.collapse li {
	margin-left: 20px;
	margin-top: 32px;
	letter-spacing: 2px;
}

.collapse a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	-webkit-transition: color 0.6s; 
    transition: color 0.6s;
}

.collapse a:hover {
	text-decoration: none;
	color: #e6fe04;
	text-shadow: 1px 1px black;
	-webkit-transition: color 0.6s; 
    transition: color 0.6s; 
}

.active-item a {
	color: #e6fe04;
    text-shadow: 1px 1px black;
}

.active-item a:hover {
	text-decoration: none;
	color: #e6fe04;
    text-shadow: 1px 1px black;
}

.seperate-seven {
	position: relative;
	float:left;
	width: 14.28%;
	height: 90%;
	opacity: 0.7;
}

.seperate-seven img {
	width: 100%;
	height: 100%;
}

.index-motto {
	width:100%;
	font-size: 80px;
	text-align: right;
	font-family: 'Lovers Quarrel', cursive;
	position: absolute;
	z-index: 2;
	margin-top: 40%;
	color: #cccba3;
	padding-right: 50px;
	text-shadow: 1px 1px black;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out 0.1s;
	-moz-transition: all 0.5s ease-in-out 0.1s;
	-o-transition: all 0.5s ease-in-out 0.1s;
	-ms-transition: all 0.5s ease-in-out 0.1s;
	transition: all 0.5s ease-in-out 0.1s;
}

.index-motto:hover {
	opacity: 0.6;
	-webkit-transition: all 0.5s ease-in-out 0.1s;
	-moz-transition: all 0.5s ease-in-out 0.1s;
	-o-transition: all 0.5s ease-in-out 0.1s;
	-ms-transition: all 0.5s ease-in-out 0.1s;
	transition: all 0.5s ease-in-out 0.1s;
}

.index-motto span {
	font-size: 40px;
	color:#bfcc43;
	position: absolute;
	z-index: -1;
	margin-left: -60px;
	margin-top:40px;
	/*-webkit-transition: font-size 0.3s; 
    transition: font-size 0.5s;*/
}

.sub-motto {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 15px;
	margin-top: -40px;
	color: #f4f5e0;
	font-style: italic;
	letter-spacing: 2px;
	/*-webkit-transition: font-size 0.3s; 
    transition: font-size 0.5s;*/
}

.footer {
	width: 100%;
	height: 16vh;
	background-color: transparent;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.social-div  {
	width: 20px;
	height: 20px;
	/*background: linear-gradient(#868965, #393e05);*/
	background: linear-gradient(#fdfccc, #848368);
	border-radius: 5px;
	margin:auto;
	text-align: center;
	box-shadow: 1px 1px 1px #000000;
	margin-top:75%;
	/*border: 1px solid #333333;*/
	/*-webkit-transition: background 0.5s; 
    transition: color 0.5s;*/
}

.social-div:hover {	
	background: linear-gradient(#bfcc43, #575d1c);
	/*-webkit-transition: background 0.5s; 
    transition: color 0.5s;*/
}

.social-a {
	/*color: #cccba3;*/
	color: #646216;
	font-size: 11px;
	line-height: 20px;
}

.social-a:hover {
	/*color: #cccba3;*/
	color: #4a4a49;	
}

.copyright {
	font-family: arial;
	font-size: 10px;
	text-align: center;
	color: #cccba3;
	margin-top:30px;
	letter-spacing: 1px;
	position: absolute;
	margin-top: 7%;
	/*-webkit-transition: font-size 0.3s; 
    transition: font-size 0.5s;*/
}

.media-wrapper {
	position: absolute;
	z-index: 1;
	float: right;
	top: 0;
	right: 0;
	width:90px;
	height:20px;
	margin-right:20px;
	margin-top:13px;
	/*-webkit-transition: margin 0.7s; 
    transition: margin 0.7s;*/
}

.overlay {
	width: 100%;
	height: 70vh;
	background-image: url('../images/overlay.png');
	background-size: 100% 100%;
	opacity: 0.3;
	color:#ffffff;
}

.inherit-base {
	width: 100%;
	height: 91.5vh;
	background-color: transparent;
}

.content-wrapper {
	width: 100%;
	height: 75%;
	background-color: transparent;
	text-align: center;
	color: white;
}

.content-head {
	position: absolute;
	float:left;
	left: 0;
	top: 0;
	z-index: 5;
	margin-right:20px;
	text-shadow: 1px 1px black;
	opacity: 0.9;
}

.fill {
	width: 100%;
	height:100%;
}

.fill-container {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: transparent;
}

.fill-row {
	width:100%;
	height: 100%;
	padding: 0;
	margin: auto;
	background-color: transparent;
}

.content-head2 {
	width:100%;
	height: 12%;
	text-shadow: 1px 1px black;
	background-color:transparent;
}

.content-body2 {
	width:100%;
	height:83%;
	background-color: transparent;
	margin: none;
	padding:0;
}

.content-title2 {
	position: relative;
	float:left;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 55px;
	text-align: left;
	color:#eef0d9;
}

.content-icon2 {	
	color: #bfcc43;
	position: relative;
	float: left;
	font-size: 33px;
	margin-top:21px;
}

.photo-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photo-wrapper ul {
	width: 100%;
	height: 85%;
	overflow: hidden;
	padding:0;
	margin: 0;
}

.photo-wrapper li {
	width: 20%;
	height: 100%;
	/*border:1px solid black;*/
	float: left;
	list-style:none;
	background-color: #ffffff;
}

.photo-wrapper img:hover {
	opacity: 0.8;
}

.photo-wrapper img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width:100%;
    height:100%;
}

.left-nav {
	position: absolute;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
  	float:left;
  	left:0;
  	z-index: 1;
  	font-size: 45px;
  	text-shadow: 1px 1px black;
  	margin-left: 2%;
}

.right-nav {
	position: absolute;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
  	float:right;
  	right:0;
  	z-index: 1;
  	font-size: 45px;
  	text-shadow: 1px 1px black;
  	margin-right: 2%;
}

.content-icon {	
	color: #bfcc43;
	position: relative;
	float: left;
	font-size: 33px;
	margin-top:33px;
}

.content-title {
	position: relative;
	float:left;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 70px;
	text-align: left;
	color:#cccba3;
	/*-webkit-transition: font-size  0.7s;
    transition: font-size  0.7s;*/
}

.content-body {
	width: 100%;
	height: 75vh;
	background-color: transparent;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	margin-top:9%;
}

.content-data {
	width: 100%;
	height: 98%;
	margin: auto;
	margin-top: 65px;
	text-align: center;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: transparent;
	overflow-y: scroll;
	/*-webkit-transition: margin 0.7s; 
    transition: margin 0.7s;*/
    text-shadow: 1px 1px black;
    color: #fffeec;
}

.flip {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.about_img {
	width: 100%;
	background-color: transparent;
	/*height: 90vh;*/
	opacity: 0.7;
	position: relative;
	float: right;
	/*padding-top:8%;*/
}

.about_img img {
	margin-top:8%;
	width: 100%;
}

.abt-header {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 55px;
	text-align: left;
	color: #f4f5e0;
	margin-top: 1%;
}

.about-data {
	width: 85%;
	margin: auto;
	height: 95%;
	overflow-y: scroll;
	background-color: transparent; 
	text-align: justify;
	font-size: 14px;
	padding-top: 3%;
	overflow: hidden;
}

.about-data p {
	text-align: right;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 50px;
	margin-top: 4%;
	color: #bfcc43;
	overflow-y: hidden;

}

.stripes {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.stripes img {
	width: 100%;
}

.go-big {
	width:100%;
	height: 91.5vh;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 1;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.six-split-top {
	width:100%;
	height:50%;
	background-color: transparent;
	background-image: url('../images/strip/prices_all.png');
	background-size: 100% 100%;
}

.six-split-bottom {
	width:100%;
	height:50%;
	background-color: transparent;
	background-image: url('../images/strip/prices_all_rev.png');
	background-size: 100% 100%;
}

.p-item {
	width: 16.66%;
	height: 100%;
	position: relative;
	float: left;
	margin-top:10%;
	
}

.p-item-b {
	width: 16.66%;
	height: 100%;
	position: relative;
	float: left;
	margin-top:-80px;
}

.p-wrap {
	width:90%;
	height:35%;
	margin: auto;
	padding:5%;
	cursor: pointer;
	background: transparent;
	box-shadow: 3px 3px 3px 2px #444444;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 2px solid #777777;
	border-top: 1px solid #777777;
  	border-radius: 5px;
  	text-transform: capitalize;
  	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;

	webkit-transition: opacity 2s; 
    transition: opacity 2s;
}

.p-wrap:hover {
	width:96%;
	height:50%;
	padding:7%;

}

.p-wrap h5 {
	font-size: 15px;
}

.p-message {
	width: 100%;
	font-size: 18px;
	color: #eaecda;
	line-height: 40px;
}

.p-head {
	text-transform: transparent;
	/*height: 100px;*/
	margin-bottom: 4%;
	line-height: 26px;
	padding-top:5%;
	/*color:#eeeeee;*/
}

.p-head p {
	font-size: 20px;
	opacity: 0;
	display: inline;
}

.p-head i {
	font-size: 8px;
	vertical-align: super;
	margin-right: 0px;
	margin-left: -8px;
	color:#f70c22;
}

.p-line {
	background-color: transparent;
}

.p-top {
	width:100%;
	height:50%;
	background-color: transparent;
	border-bottom: 4px solid transparent;
  	border-image: linear-gradient(to right, rgba(90, 90, 90, 1) , rgba(240, 240, 240, 1));
  	border-image-slice: 1;
  	font-size: 12px;
  	text-align: right;
}

.p-price {
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	margin-left:-10px;
	font-family: 'Poiret One', cursive;
	color:#eeeeee;
}

.p-price span {
	vertical-align: super;
 	font-size: 15px;
  	line-height: normal;
}

.p-price p {
	display: inline;
}

.sb {
	background: linear-gradient(rgba(100, 100, 100, 0.3), rgba(204, 204, 204, 0.3));
}

.sb0 {
	background: linear-gradient(rgba(55, 55, 55, 0.2), rgba(200, 200, 200, 0.2));
	color: #eaecda;
	font-size: 20px;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}

.sb0:hover {
	color:#e3f43d;
	font-size: 22px;
	background: linear-gradient(rgba(55, 55, 55, 0.6), rgba(200, 200, 200, 0.6));
}

.sb1 {
	color: #eaecda;
	font-size: 20px;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(130, 130, 130, 0.3));
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}

.sb1:hover {
	color: #e3f43d;
	font-size: 22px;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(130, 130, 130, 0.6));
}

.sb2 {
	color: #ffffff;
	font-size: 20px;
	background: linear-gradient(rgba(155, 155, 155, 0.3), rgba(255, 255, 255, 0.3));
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}

.sb2:hover {
	color:#e3f43d;
	font-size: 22px;
	background: linear-gradient(rgba(155, 155, 155, 0.6), rgba(255, 255, 255, 0.6));
}

.sb3 {
	background: linear-gradient(rgba(155, 155, 155, 0.1), rgba(255, 255, 255, 0.1));
}


/*.rec-holder {
	width:100%;
	height:80%;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	background-color: transparent;
}

.rec {
	width:80%;
	height:5%;
	background-color: transparent;
	position: relative;
	float: right;
}

.o1 {
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(51,51,51,7));
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
  	border-image: linear-gradient(to left, rgba(204, 204, 204, 1) , rgba(204, 204, 204, 0));
  	border-image-slice: 1;
}*/



.alert-wrapper {
	width: 100%;
	height: 91.5vh;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 5;
}

.close-this {
	font-size: 22px;
	background-color: transparent;
	text-align: right;
	z-index: 10;
	float: right;
	margin-top: -25px;
	margin-right: -20px;
}

.close-this:hover {
	color: #666666;
}

.price_description_wrap {
	min-width: 300px;
	max-width: 400px;
	width:40%;
	margin: auto;
	background: linear-gradient(rgba(202, 202, 65, 0.8), rgba(92, 92, 62, 0.8));
	padding: 30px;
	text-align: justify;
	border-radius: 5px;
	border: 1px solid #cccccc;
	margin-top: 19%;
	box-shadow: 4px 4px 4px 1px #444444;
}

.price_description_wrap h1 {
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;
	padding: none;
	/*margin-top: -5px;*/
}

.services-data {
	width: 100%;
	height: 95%;
	margin: auto;
	background-color: transparent;
	position: absolute;
	z-index: 1;
}

.service-wrapper {
	height: 23vh;
}

.service-box {
	width: 100%;
	height: 82%;
	padding-left:4%;
	padding-right:4%;
	padding-top: 10%;
	margin: auto;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #555555;
	text-transform: uppercase;
	font-style: italic;
	/*color: #f4f5e0;*/
}

.service-box h1 {
	font-size: 18px;
	background-color: transparent;
}

.service-box button {
	width: 70%;
	text-align: center;
	border-radius: 5px;
	background: linear-gradient(rgba(238, 238, 238, 1), rgba(140, 140, 140, 1));
	text-transform: capitalize;
	font-size: 10px;
	margin-top: 4%;
}

.service-box button:hover {
	background: linear-gradient(rgba(180, 180, 180, 1), rgba(110, 110, 110, 1));
	border-color: #777777;
}

.service-box i {
	color: #eff121;
	vertical-align: super;
    font-size: 0.6pc;
    padding-left: 5px;
}

.service-warning {
	text-align: left;
	margin-bottom: 12px;
	color: #f4f5e0;
}

.service-warning span {
	color: #eff121;
}

.price {
	font-size: 30px;
	font-style: none;
	color: #eff121;

}

.price span {
	vertical-align: super;
	color: #f4f5e0;
}

.service-box span {
	font-size: 16px;
	text-transform: capitalize;
}

.gallery-wrapper {
	width: 95%;
	height: 90%;
	margin: auto;
	background-color: transparent;
	overflow-y: hidden;
}

.gallery-left {
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
	background-color: transparent;
	overflow-y: scroll;
}

.gallery-right {
	width: 100%;
	height: 100%;
	position: relative;
	float: right;
	background-color: red;
	overflow-y: scroll;
}

.blog-data {
	width: 95%;
	height: 90%;
	margin: auto;
	overflow-y: hidden; 
	background-color: transparent;
}

.blogger {
	width: 100%;
	margin: auto;
	margin-top: -40px;
	background-color: transparent;
	overflow-y: scroll; 
	height:100%;
}

.message-wrapper {
	width: 100%;
	height: 70vh;
	background-color: transparent;
	text-align: left;
}

.message-wrapper h3 {
	font-size: 23px;
}

.message-wrapper p {
	font-style: italic;
}

.space_lg {
	letter-spacing: 0.5px;
}

.form_holder {
	width:100%;
	background-color: transparent;
	margin-top:10%;
}

.form_holder input {
	width: 100%;
	border-radius: 5px;
	padding-left:10px;
	color: #000000;
	margin-bottom: 20px;
}

.input-title {
	text-align: right;
	margin-right: -25px;
	line-height: 25px;
	letter-spacing: 1px;
}

.lg-text-box {
	width: 100%;
	height:20vh;
}

.lg-text-box textarea {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border-color: #cccccc;
}

.msg-btn {
	width:100%;
	text-align: left;
	margin-top:12px;
}

.msg-btn button {
	width: 100px;
	border-radius: 5px;
	padding-top:2px;
}

.msg-btn i {
	color:#bfcc43;
	text-shadow: 1px 1px #000000;
	font-size: 14px;
}

.address-wrapper {
	width: 100%;
	height: 70vh;
	background-color: transparent;
}

.address-box {
	width: 100%;
	height: 56%;
	text-align: right;
}

.contact-header {
	font-size: 16px;
	text-decoration: underline;
	letter-spacing: 1px;
}

.text-left {
	width: 100%;
	text-align: left;
	background-color: transparent;
	letter-spacing: 3px;
	font-size: 14px;
}

.warning-note {
	font-size: 12px;
	font-style: italic;-
}

.map {
	width: 225px;
	height: 225px;
	position: relative;
	float: right;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-top:15px;
	/*background-color: #ffffff;*/
}









::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fa151a;
    opacity: 0.3; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fa151a;
    opacity: 0.3; 
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fa151a;
    opacity: 0.3; 
    font-style: italic;
}



@media screen and (min-width: 1150px) {
	div.about_img {
    height: 80vh;
  }
}





@media screen and (max-width: 582px) {
  div.index-motto {
    font-size: 50px;
  }

  div.sub-motto {
    font-size: 10px;
    margin-top: -25px;
  }

  div.index-motto span{
    font-size: 20px;
    margin-top: 28px;
    margin-left: -45px;
  }

  div.media-wrapper {
    left:0;
    margin-top: 3px;
  }

  div.content-title {
    font-size: 45px;
  }

  div.content-icon {
    font-size: 20px;
    margin-top: 20px;
  }

  div.content-data {
    margin-top: 13%;
  }

  div.copyright {
    font-size: 7px;
  }

  div.about_img {
  	opacity: 0;
  }

  div.abt-header {
  	font-size: 40px;
  }

  div.gallery-wrapper {
  	margin-top: 8%;
  }
}

@media screen and (max-width: 1200px) {
  div.service-box h1 {
  	font-size:15px;
  	height:30px;
  }
}


@media screen and (max-width: 1100px) {
	div.content-data {
    margin-top: 5%;
  }

  div.service-box h1 {
  	font-size:15px;
  	height:30px;
  }
}

@media screen and (max-width: 1000px) {
	div.input-title {
    text-align: left;
  }
  div.about_img {
  	margin-top: 15%;
  }

  div.service-box h1 {
  	font-size:12px;
  	height:25px;
  }

  div.gallery-wrapper {
  	margin-top: 5%;
  }
}

@media screen and (max-width: 900px) {
	div.content-data {
    margin-top: 10%;
  }

  div.about_img {
  	margin-top: 20%;
  }

  div.gallery-wrapper {
  	margin-top: 3%;
  }
}

@media screen and (max-width: 700px) {
	div.content-data {
    margin-top: 15%;
  }

  div.address-wrapper {
  	margin-top: 100px;
  }

  div.about_img {
  	margin-top: 38%;
  }
}

@media screen and (max-width: 532px) {
	div.content-data {
    margin-top: 20%;
  }

  div.about_img {
  	opacity: 0;
  }

  div.service-box h1 {
  	font-size:18px;
  }

  div.service-box {
  	padding-top: 4%;
  }

  div.price {
  	font-size: 22px;
  }
}


























